@{
    var isLoggedIn = false; // Mặc định là false
    var username = string.Empty;

    HttpCookie loginCookie = Request.Cookies["IsLoggedIn"];
    HttpCookie usernameCookie = Request.Cookies["Username"];

    if (loginCookie != null && loginCookie.Value == "true")
    {
        isLoggedIn = true;
        username = usernameCookie != null ? usernameCookie.Value : string.Empty;
    }
}

<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="@Url.Action("Index", "Home")" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="@Url.Action("shoping_cart", "Features")" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span class="badge">0</span>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse @Html.Raw(ViewBag.flag == 1 ? "show" : "") navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Trang Phục <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 1 })" class="dropdown-item">Trang phục Nam</a>
                            <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 2 })" class="dropdown-item">Trang phục Nữ</a>
                            <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 3 })" class="dropdown-item">Trang phục Trẻ Em</a>
                        </div>
                    </div>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 4 })" class="nav-item nav-link">Áo sơ mi</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 5 })" class="nav-item nav-link">Quần jean</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 6 })" class="nav-item nav-link">Đồ bơi</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 7 })" class="nav-item nav-link">Đồ ngủ</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 8 })" class="nav-item nav-link">Đồ thể thao</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 9 })" class="nav-item nav-link">Áo liền quần</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 10 })" class="nav-item nav-link">Áo blazer</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 11 })" class="nav-item nav-link">Áo khoác</a>
                    <a href="@Url.Action("ProductsByCategory", "Shop", new { categoryId = 12 })" class="nav-item nav-link">Giầy</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="@Url.Action("Index", "Home")" class="nav-item nav-link @Html.Raw(@ViewBag.Title.Equals("Home") ? "active" : "")">Home</a>
                        <a href="@Url.Action("product", "Shop")" class="nav-item nav-link @Html.Raw(@ViewBag.Title.Equals("Product") ? "active" : "")">Shop</a>
                        <a href="@Url.Action("contact", "Contact")" class="nav-item nav-link @Html.Raw(@ViewBag.Title.Equals("Contact") ? "active" : "")">Contact</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        <div class="nav-item dropdown notification" @Html.Raw(isLoggedIn == true ? "show" : "hidden")>
                            <a href="@Url.Action("CapNhatDonHang", "Notification")" class="nav-link">
                                <i class="fa-solid fa-bell"></i> Thông báo
                            </a>
                            <div class="dropdown-menu dropdown-menu-right rounded-0 m-0">
                                <a href="#" class="dropdown-item d-flex align-items-start">
                                    <div class="mr-3">
                                        <img src="~/img/product-1.jpg" alt="Thumbnail 1" class="img-fluid rounded" style="width: 50px; height: 50px; object-fit: cover;">
                                    </div>
                                    <div>
                                        <h5 class="mb-1 text-truncate">Thông báo 1</h5>
                                        <p class="text-muted text-wrap mb-0">Đây là nội dung của thông báo 1. Nội dung dài sẽ tự động xuống dòng.</p>
                                        <span class="w-100 d-block text-right mt-1" style="color: #c0392b; font-size: 0.85rem;">27/11/2024 09:39</span>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex align-items-start">
                                    <div class="mr-3">
                                        <img src="~/img/product-1.jpg" alt="Thumbnail 1" class="img-fluid rounded" style="width: 50px; height: 50px; object-fit: cover;">
                                    </div>
                                    <div>
                                        <h5 class="mb-1 text-truncate">Thông báo 1</h5>
                                        <p class="text-muted text-wrap mb-0">Đây là nội dung của thông báo 1. Nội dung dài sẽ tự động xuống dòng.</p>
                                        <span class="w-100 d-block text-right mt-1" style="color: #c0392b; font-size: 0.85rem;">27/11/2024 09:39</span>
                                    </div>
                                </a><a href="#" class="dropdown-item d-flex align-items-start">
                                    <div class="mr-3">
                                        <img src="~/img/product-1.jpg" alt="Thumbnail 1" class="img-fluid rounded" style="width: 50px; height: 50px; object-fit: cover;">
                                    </div>
                                    <div>
                                        <h5 class="mb-1 text-truncate">Thông báo 1</h5>
                                        <p class="text-muted text-wrap mb-0">Đây là nội dung của thông báo 1. Nội dung dài sẽ tự động xuống dòng.</p>
                                        <span class="w-100 d-block text-right mt-1" style="color: #c0392b; font-size: 0.85rem;">27/11/2024 09:39</span>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex align-items-start">
                                    <div class="mr-3">
                                        <img src="~/img/product-1.jpg" alt="Thumbnail 1" class="img-fluid rounded" style="width: 50px; height: 50px; object-fit: cover;">
                                    </div>
                                    <div>
                                        <h5 class="mb-1 text-truncate">Thông báo 1</h5>
                                        <p class="text-muted text-wrap mb-0">Đây là nội dung của thông báo 1. Nội dung dài sẽ tự động xuống dòng.</p>
                                        <span class="w-100 d-block text-right mt-1" style="color: #c0392b; font-size: 0.85rem;">27/11/2024 09:39</span>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex align-items-start">
                                    <div class="mr-3">
                                        <img src="~/img/product-1.jpg" alt="Thumbnail 1" class="img-fluid rounded" style="width: 50px; height: 50px; object-fit: cover;">
                                    </div>
                                    <div>
                                        <h5 class="mb-1 text-truncate">Thông báo 1</h5>
                                        <p class="text-muted text-wrap mb-0">Đây là nội dung của thông báo 1. Nội dung dài sẽ tự động xuống dòng.</p>
                                        <span class="w-100 d-block text-right mt-1" style="color: #c0392b; font-size: 0.85rem;">27/11/2024 09:39</span>
                                    </div>
                                </a>
                                <a href="@Url.Action("CapNhatDonHang", "Notification")" class="dropdown-item w-100 text-center p-3">Xem tát cả</a>
                            </div>
                        </div>
                        <a href="@Url.Action("Login", "Account")" class="nav-item nav-link" @Html.Raw(isLoggedIn == true ? "hidden" : "show")>Login</a>
                        <a href="@Url.Action("Register", "Account")" class="nav-item nav-link" @Html.Raw(isLoggedIn == true ? "hidden" : "show")>Register</a>
                        <div class="nav-item dropdown myAccount" @Html.Raw(isLoggedIn == true ? "show" : "hidden")>
                            <a href="@Url.Action("HoSo", "MyAccount")" class="nav-link">
                                <i class="fa-solid fa-circle-user"></i> @username
                            </a>
                            <div class="dropdown-menu dropdown-menu-right rounded-0 m-0">
                                <a href="@Url.Action("HoSo", "MyAccount")" class="dropdown-item">Tài khoản của tôi</a>
                                <a href="@Url.Action("order", "Order")" class="dropdown-item">Đơn mua</a>
                                <a href="@Url.Action("Logout", "Account")" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            @if (ViewBag.flag == 1)
            {
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/img/carousel-1.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                    <a href="@Url.Action("product", "Shop")" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/carousel-2.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a href="@Url.Action("product", "Shop")" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .nav-item.notification:hover .dropdown-menu, .nav-item.myAccount:hover .dropdown-menu {
        display: block;
        position: absolute;
    }

    .nav-item.notification:hover .dropdown-menu {
        min-width: 25rem;
    }
</style>