@{
    ViewBag.Title = "NganHang";
    Layout = "~/Views/Shared/MyAccount.cshtml";
    ViewBag.Account = 1;
}


<div class="container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <h5 class="mb-0">Tài khoản ngân hàng của tôi</h5>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-success" id="openAddBankModal" data-toggle="modal" data-target="#addBankModal">
                + Thêm tài khoản ngân hàng
            </button>
        </div>
    </div>

    <!-- Danh sách tài khoản -->
    @foreach (var taikhoan in ViewBag.taikhoanList)
    {
        <form method="post" action="@Url.Action("XoaTaiKhoanNganHang", "MyAccount")">
            <input type="hidden" name="BankID" value="@taikhoan.BankID" />
            <div class="card p-4 mb-3">
                <div class="row align-items-center">
                    <div class="col-md-2 text-center">
                        <div style="width: 80px; height: 80px;">
                            <img src="@Url.Content("~/img/" + taikhoan.BankLogo)" alt="Bank Logo" class="w-100 h-100" style="object-fit: cover;" />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-2">
                            <h6 class="mb-0"><strong>@taikhoan.BankName</strong></h6>
                        </div>
                        <div class="mb-2">
                            <span>Chủ sở hữu:</span> <strong>@taikhoan.AccountOwner</strong>
                        </div>
                        <div class="mb-2">
                            <span>Chi nhánh:</span> <strong>@taikhoan.BranchName</strong>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <span>STK:</span> <strong>@taikhoan.AccountNumber</strong>
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="submit" class="btn btn-danger">
                            Xóa
                        </button>
                    </div>
                </div>
            </div>
        </form>
    }

</div>

<!-- Modal -->
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBankModalLabel">Thêm Tài Khoản Ngân Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("AddBankAccount", "MyAccount", FormMethod.Post, new { id = "addBankAccountForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="bankName">Tên Ngân Hàng</label>
                        <select class="form-control" id="bankSelect" name="BankId">
                            <option value="" disabled selected>Chọn Ngân Hàng</option>
                            @foreach (var nganHang in ViewBag.nganhanglienket)
                            {
                                <option value="@nganHang.MaNganHangLienKet">@nganHang.TenNganHang</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="accountNumber">Số Tài Khoản</label>
                        <input type="text" class="form-control" id="accountNumber" name="AccountNumber">
                    </div>
                    <div class="form-group">
                        <label for="ownerName">Tên Chủ Sở Hữu</label>
                        <input type="text" class="form-control" id="ownerName" name="AccountOwner" readonly>
                    </div>
                    <div class="form-group">
                        <label for="branch">Chi Nhánh</label>
                        <select class="form-control" id="branch" name="BranchId">
                            <option value="" disabled selected>Chọn Chi Nhánh</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Thêm Tài Khoản</button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Kiểm tra và hiển thị thông báo sau khi xóa -->
@if (TempData["SuccessMessage"] != null)
{
<script>
    alert(@Html.Raw(Json.Encode(TempData["SuccessMessage"])));
</script>}

@if (TempData["ErrorMessage"] != null)
{
<script>
    alert(@Html.Raw(Json.Encode(TempData["ErrorMessage"])));
</script>}
